.form-container {
    border: 1px solid orchid;
    border-radius: 8px;
    width: 400px;
    margin: 10px auto;
    padding: 50px;
}
.form-title {
    font-size: 35px;
    text-align: center;
}
.form-control {
    margin-bottom: 20px;
}
.form-control label {
    font-size: 19px;
}
.form-control input {
    font-size: 18px;
    padding: 8px;
    width: 100%;
}

.form-control input[type="submit"] {
    background-color: coral;
    border: 0;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

.form-control input[type="submit"]:hover {
    background-color: rgb(245, 81, 21);
}